.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.weather-card {
  background: linear-gradient(to bottom, #c8daf4, #A4B3C9); 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  width: 100%; 
  height: auto; 
  margin: 18px auto;
  transition: transform 0.3s ease; 
}

.weather-card-header {
  background-color: #A4B3C9; 
  color: white;
  padding: 10px;
}

.weather-card-header {
  background: linear-gradient(to bottom, #b9cfee, #a1b2cb); 
  color: white;
  padding: 10px;
}
.weather-card:hover {
  transform: scale(1.05); 
}

.weather-card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.weather-icon {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.weather-info {
  text-align: left;
}

.hero {
  background-image: url("C:\Users\nico9\OneDrive\Desktop\react-advanced-project\public\meteo.jpg"); 
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #2569B2;
}

.method {
  margin-bottom: 20px;
}

.method h2 {
  color: #f7b733;
}

.method img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.method p {
  text-align: justify;
}